@import './resets';
@import './buttons';
@import './variables';

body{
    font-family: monospace;
    color: whitesmoke;
    background-color: rgb(39, 37, 37);
}
.contain-center{
    padding-top: 20vh;
    text-align: center;
    justify-content: center;
    h1{
        font-size: 70px;
        font-weight: 600;
    }
}
.buttons{
    display: flex;
    justify-content: center;
    .play, .pause, .stop{
        padding: 0px 0 0 10px;
        img{
            width: 45px;
        }
    }
}
.one, .two{
    overflow-y: hidden;
    height: 100vh;
}
.two{
    background-color: $color2;
    input{
        background-color: grey;
        height: 30px;
        border: 0;
        box-shadow: 0;
        color: white;
        border-radius: 5px;
        visibility:visible;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}
    
}
.below{
    padding-top: 10px;
}
.hr{
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: $color2;
    margin-top: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.hidetab{
    background-color: $color1;
    width: 100%;
    height: 100vh;
}
nav{
        width: 100%;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        height: 65px;
        background-color: white;
        justify-content: space-between;
        padding: 5px;
        color:black;
        font-size: 25px;
        font-family: 'Press Start 2P';
        text-shadow: -3px 1px 0px #7a7171, -2px 2px 5px #080808;
    }

.footnote{
    position: fixed;
    bottom: 50px;
}
.nav{
    padding-top: 30px;

    .na-item{
        padding-top: 30px;
        font-size: 20px;

        .new{
            border: 1px solid green;
            color: green;
            padding: 3px;
            font-size: 10px;
        }
    }
}
.newrec{
    width: 100%;
    height: auto;
    border: 3px dashed grey;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    &-item{
        background-color: $color1;
        width: 100%;
        height: auto;
        margin-top: 10px;
        padding: 5px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        &:hover{
            border: 2px solid green;
        }
        .recdate{
            color: grey;
        }
    }
    
}
.footnotepro{
    background-color: #080808;
    margin-top: 20px;
    padding: 10px;
    bottom: 50px;
}
@import './responsive';